name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        BuildConfiguration: [Release]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-dotnet@v1
    - run: dotnet --info
    - run: dotnet tool restore
    - name: NuGet restore
      run: dotnet restore -v m
    - name: Build
      shell: pwsh
      run: dotnet build --no-restore -c ${{ matrix.BuildConfiguration }}
    - name: Test
      shell: pwsh
      run: dotnet test --no-build -c ${{ matrix.BuildConfiguration }}
    - name: Publish NuGet artifacts
      uses: actions/upload-artifact@v1
      with:
        name: nugets-${{ runner.os }}
        path: bin/Packages/${{ matrix.BuildConfiguration }}
