name: CI
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    env:
      DOTNET_NOLOGO: 1
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # all history
      - uses: actions/setup-dotnet@v5
      - run: dotnet --info
      - run: dotnet tool restore
      - run: dotnet nbgv get-version
      - run: dotnet restore -v m
      - run: dotnet build --no-restore
      - run: dotnet test --no-build
      - run: dotnet pack
      - name: Publish NuGet artifacts
        uses: actions/upload-artifact@v7
        with:
          name: nugets-${{ runner.os }}
          path: artifacts/packages/release
