name: Deploy
# trigger by chatops '/deploy ref=main env=all tag'
# ref defaults to default repo branch
# env defaults to github (possible: github, nuget, all)
# tag if provided tags the ref with version from nbgv
on:
  repository_dispatch:
    types: [deploy-command]

jobs:
  publish:
    uses: ./.github/workflows/publish.yml
    permissions:
      contents: write
      packages: write
      id-token: write
      issues: write
      pull-requests: write
    with:
      ref: ${{ github.event.client_payload.slash_command.args.named.ref || '' }}
      push-to: ${{ github.event.client_payload.slash_command.args.named.env || 'github' }}
      tag: ${{ github.event.client_payload.slash_command.args.unnamed.arg1 == 'tag' }}
      comment-id: ${{ github.event.client_payload.github.payload.comment.id }}
    secrets: inherit
